
<div class="jumbotron">
<!--   <div class="img img-responsive"></div>
 -->  
  <div class="col-md-6"> 
    <blockquote class="outer">
      <div class="inner">
        <h2 id="cover-text"><%= render "quotes/random_quote" %></h2>
        <div class="botao">     
<!--           <a class="btn btn-success" div="color-button" href="#" role="button">Learn more</a>
 -->        </div>
      </div>
    </blockquote>
  </div>
  </div>
</div>

